h1{
    color: white;
}
div {
    background-color: #E38D8D;
    
    
}
.nav-container {
    margin: 0px;
    margin-top: 0px;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    
}
a .nav-container {
    color:white;
    text-decoration: none;  
}
