
h1 a{
    font-family: 'Frank Ruhl Libre', serif;
    text-align: center;
    color: darkcyan;
    text-decoration: none;
}

ul a{
    font-family: 'Frank Ruhl Libre', serif;
    color: darkorchid;
    text-decoration: none;
    font-size: 30px;
    
}

img{
    display: block ;
    margin: 0 auto;
}

.contact-me-button{
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    color: #ffffff;
    background: blueviolet;
    border-radius: 30px;
}

.contact-me-button:hover{
    background: #ffffff;
    color: blueviolet;
    border: 1px solid blueviolet;
}