body .nav-container{
    background-color: #000000;
    padding: 50px 0px;
    width: 1600px;
}

body .nav-container-about{
    background-color:#E38D8D;
    padding: 50px 0px;
    width: 1600px;
}

h1 a{
    font-family: 'Frank Ruhl Libre', serif;
    color: #9BE6F7;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 56px;
    transition: color 0.3s;
}

h1 a:hover{
    color:#E38D8D;
}



h2 {
    color:#FFFFFF;
    font-family: 'Frank Ruhl Libre',  serif;
}

ul a{
    font-family: 'Frank Ruhl Libre', serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top: -51px;
    left: 335px;
    margin: 0 0 0 15px;
    transition: color 1s;
}

ul a:hover {
    color:#9BE6F7;
}

.social{
    font-family: 'Frank Ruhl Libre', serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
    margin: 0 0 0 155px;
    transition: color 1s;
    position: relative;
    top: -58px;
    left: 750px;
}

.social:hover, a.selected{
    color:#9BE6F7;  
}

img{
    display: block ;
    margin: -30px auto;
    
}


.contact-me-button{
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    color: #999;
    background: #9BE6F7;
    border-radius: 30px;
}

.contact-me-button:hover{
    background: #ffffff;
    color: blueviolet;
    border: 1px solid blueviolet;
}

.description{
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px, 32px;
}


.description h1{

    grid-column: 4/ span 6;
    font-family: 'Frank Ruhl Libre', serif;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    margin: 40px 10px 0 10px;
    
}

.description p{
    grid-column: 4/ span 6;
    font-family: 'Frank Ruhl Libre', serif;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin: 30px 10px 0 10px;

}

.contact-box{
    width: 500px;
    background-color: #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin:  30px 0 30px 0;
}

form{
    margin: 35px;
}

.input-field {
width: 400px;
height: 40px;
margin-top: 20px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid #9BE6F7;
border-radius: 14px;
outline: none;
background-color: #000000;
}

.textarea-field{
    height: 150px;
    padding-top: 10px;
}

@media (max-width: 1120px) {
    body .nav-container{
        background-color: red;
       
    }

}

section.grid-layout {
    column-count: 3;
  }

